@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family:Roboto;
}

#form {
	margin:auto;
	margin-top:50px;
}

select {
	width:300px;
}

#free-rooms {
	list-style: none;
	font-size:15px;
	padding:15px;
}

li {
	margin:20px;
}
